{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>


<div id="AgregarPersonalModal" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Agregar nuevo</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'agregarVenta' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_personal %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    
                    <select id="producto-select" name="cod_producto">
                        <option value="">Selecciona un producto</option>
                        {% for producto in producto %}
                        <option value="{{ producto.cod_producto }}">{{ producto.nombre_producto }}</option>
                        {% endfor %}
                    </select>
                    <select id="tallas-select" name="talla">
                        <option value="">Selecciona una talla</option>
                        {% for talla in talla %}
                        <option value="{{ talla.talla }}">{{ talla.talla }}</option>
                        {% endfor %}
                    </select>
                    
                    <input type="number" id="cantidad" name="cantidad_productos" min="1" value="1">

                    <input type="text" id="precio" name="precio_venta" readonly>
                    <button type="button" id="agregar-producto">Agregar producto</button>
                    <input type="hidden" id="precio_venta_hidden" name="precio_venta" value="">
                    <input type="hidden" id="precio_venta_total" name="total_venta" value="">


                    <ul id="resumen-venta">
                        <!-- Aquí se mostrará el resumen de la venta -->
                    </ul>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>




<div id="EliminarPersonalModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Eliminar</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro?</p>
                <form method="POST" action="{% url 'eliminarVenta' %}">{% csrf_token %}
                    <input type="hidden" id="id_personal_eliminar" name="id_personal_eliminar">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Ventas   <i class="fas fa-users"></i></h3> <! -- Es para cambiar el icono xd -- >
        <div class="col-md-3 pb-2">
            <a href="#AgregarPersonalModal"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Venta
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>No. Venta</th>
                        <th>Fecha de Venta</th>                        
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Descuento</th>
                        <th>Precio Venta</th>
                        <th>Total Venta</th>
                        <th>Cliente</th>
                        <th>Atendido Por</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in venta %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.idventa}}</td>
                        <td>{{i.fecha_venta}}</td>
                        <td>{{i.cod_producto.nombre_producto}}</td>
                        <td>{{i.cantidad_productos}}</td>
                        <td>{{i.descuento_venta}}</td>
                        <td>{{i.precio_venta}}</td>
                        <td>{{i.total_venta}}</td>
                        <td>{{i.cod_cliente.iddocumento.primer_nombre}} {{i.cod_cliente.iddocumento.primer_apellido}}</td>
                        <td>{{i.cod_empleado.iddocumento.primer_nombre}} {{i.cod_empleado.iddocumento.primer_apellido}}</td>
                        <td>
                           
                            {% if i.idventa %}
                                    <form action="/editarVenta/{{ i.idventa }}/" method="GET" style="display: inline;">
                                        <button type="submit" class="btn btn-dark-outline btn-sm">
                                            <img src="{% static 'index/img/editar.png' %}" alt="Error" width="30">
                                        </button>
                                    </form>
                                {% endif %}
                                    <button onclick="eliminarPersonal('{{i.idventa}}')" class="btn btn-dark-outline btn-sm"
                                    data-toggle="modal" href="#EliminarPersonalModal"><img
                                        src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Error...',
                text: "{{ message }}",
            });
        </script>
    {% elif message.tags == 'success' %}
        <script>
            Swal.fire({
                icon: 'success',
                title: '¡Venta registrada!',
                text: "{{ message }}",
            });
        </script>
        
    {% endif %}
{% endfor %}
{% endif %}
<script>document.addEventListener("DOMContentLoaded", function() {
    let productoSelect = document.getElementById("producto-select");
    let tallasSelect = document.getElementById("tallas-select");
    let cantidadInput = document.getElementById("cantidad");
    let precioInput = document.getElementById("precio");
    let resumenVenta = document.getElementById("resumen-venta");

    productoSelect.addEventListener("change", function() {
        let codProducto = this.value;
        fetch(`/get-tallas/${codProducto}/`)
            .then(response => response.json())
            .then(data => {
                tallasSelect.innerHTML = '<option value="">Selecciona una talla</option>';
                data.tallas.forEach(talla => {
                    let option = document.createElement("option");
                    option.value = talla.id;
                    option.text = talla.talla;
                    tallasSelect.appendChild(option);
                });
            });
    });

    document.getElementById("agregar-producto").addEventListener("click", function() {
        let producto = productoSelect.options[productoSelect.selectedIndex].text;
        let talla = tallasSelect.options[tallasSelect.selectedIndex].text;
        let precio = precioInput.value;
        let cantidad = cantidadInput.value;
        let item = document.createElement("li");
        item.textContent = `Producto: ${producto}, Talla: ${talla}, Precio: ${precio}, Cantidad: ${cantidad}`;
        resumenVenta.appendChild(item);

        let productoId = productoSelect.value;
        let tallaId = tallasSelect.value;
        cantidad = parseInt(cantidadInput.value);

        if (productoId && tallaId) {
            fetch(`/actualizar-inventario/${productoId}/${tallaId}/${cantidad}/`, { method: 'PUT' })
                .then(response => response.json())
                .then(data => {
                    console.log("Inventario actualizado");
                })
                .catch(error => {
                    console.error("Error al actualizar el inventario:", error);
                });
        }
    });

    productoSelect.addEventListener("change", function() {
        let productId = this.value;
        if (productId) {
            fetch(`/get-precio/${productId}/`)
                .then(response => response.json())
                .then(data => {
                    precioInput.value = data.precio;
                })
                .catch(error => {
                    console.error("Error al obtener el precio:", error);
                });
        }
    });

    cantidadInput.addEventListener("input", function() {
        actualizarPrecio();
    });

    function actualizarPrecio() {
        let productId = productoSelect.value;
        let cantidad = cantidadInput.value;
        console.log("productId:", productId);
        console.log("cantidad:", cantidad);
        if (productId && cantidad) {
            fetch(`/calcular-precio/${productId}/${cantidad}/`)
                .then(response => response.json())
                .then(data => {
                    precioInput.value = data.precio;
                });
        }
    }

    document.getElementById("agregar-producto").addEventListener("click", function() {
        actualizarPrecio();
    });

});


</script>

{% endblock %}